<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="capaPresentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="connStock" connectionString="Data Source=JPANZA\SQLSERVER;Initial Catalog=stock;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <capaPresentacion.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>JPANZA\SQLSERVER</value>
      </setting>
      <setting name="BaseDatos" serializeAs="String">
        <value>stock</value>
      </setting>
    </capaPresentacion.Properties.Settings>
  </userSettings>
</configuration>
